<div class="jumbotron">
<div class="container">
		<div class="col-md-12 text-center"> 
			<h2 class="jumbo-header">Going where the wind blows</h2>
			<div class="buttons_div">
				<a href="/kiteboarding-services" class="btn btn-default button_1" id="jumbo-cta-kiteboarding-services">Services <i class="fa fa-caret-right" aria-hidden="true"></i></a>
				<a href="/kiteboarding-gear" class="btn btn-default button_2" id="jumbo-cta-kiteboarding-services">Gear <i class="fa fa-caret-right" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="container">

</div>


