<div class="jumbotron">
	<div class="container">
		<div class="col-md-12 text-center"> 
			<h2 class="jumbo-header">Going where the wind blows</h2>
			<div class="buttons_div">
				<a href="/#kiteboarding-services" class="btn btn-default button_1" id="jumbo-cta-kiteboarding-services">Services <i class="fa fa-caret-right" aria-hidden="true"></i></a>
				<a href="/kiteboarding-gear" class="btn btn-default button_2" id="jumbo-cta-kiteboarding-services">Gear <i class="fa fa-caret-right" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>

<div id = "content-section">
	<div class="content-section-a">
		<div class="container">
			<h1 class = "services text-center"> SERVICES </h1>
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h1 id="#kiteboarding-services">KITEBOARDING</h1>
					<p id="kiteboarding-description">Catch the stoke off the shores of Lake Michigan's many kiteboarding beaches with kiteboarding, SUP-kiting and tandem boarding.  </p>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<img id="services-photo" class="img-responsive" src="assets/kiteboarding-services.jpg" alt="Kiteboarding-Stoke-Riders">
				</div>
			</div>
		</div>
	</div>

	<div class="content-section-b">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-6 pull-right">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h1 id="#kiteboarding-gear-rental">GEAR RENTAL</h1>
					<p id="kiteboarding-gear-rental-description">Don't have the gear? Don't worry! We have all the Kiteboarding gear you'll need!  </p>
				</div>
				<div class="col-lg-5 col-sm-6">
					<img id="services-photo" class="img-responsive pull-left" src="assets/rentals.jpg" alt="GEAR-RENTAL-Stoke-Riders">
				</div>
			</div>
		</div>
	</div>

	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h1 id="#kiteboarding-trips">KITEBOARDING TRIPS</h1>
					<p id="kiteboarding-trips-description">Join us on trips to popular kiteboarding destinations! </p>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<img id="services-photo" class="img-responsive" src="assets/trips.JPG" alt="Kiteboarding-Trips-Stoke-Riders">
				</div>
			</div>
		</div>
	</div>

	<div class="content-section-b">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-6 pull-right">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h1 id="#kiteboarding-snowkiting-services">SNOWKITING</h1>
					<p id="kiteboarding-snowkiting-description">Get your stoke without traveling to the slopes. Kite through the winter on snowcovered fields and lakes with ski's or a snowboard.  </p>
				</div>
				<div class="col-lg-5 col-sm-6">
					<img id="services-photo" class="img-responsive" src="assets/image1.JPG" alt="Kiteboarding-Snowkiting-Stoke-Riders">
				</div>
			</div>
		</div>
	</div>

	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h1 id="#kiteboarding-landkiting-services">LANDKITING</h1>
					<p id="kiteboarding-landkiting-description">Have the need for speed or just want to improve your kite skills. The kitebuggy will get you stoked for land, snow or water.  </p>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<img id="services-photo" class="img-responsive" src="assets/Landboarding.jpg" alt="Kiteboarding-Landkiting-Stoke-Riders">
				</div>
			</div>
		</div>
	</div>
</div>


